header {
    border-radius: 6px;
    background-color: #4c7797;
    display: flex;
    flex-direction: column;
    color: white;
    width: 99%;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    min-width: 800px;
    justify-content: space-around;
  }